*pyc
*cache*
case_studies/tcga_brca/data/*
case_studies/tcga_brca/GDCdata/*
case_studies/tcga_brca/results/*
case_studies/tcga_brca/outputs/*
case_studies/drosophila/results/*
case_studies/drosophila/data/*
case_studies/sweep_tabular/data/*
case_studies/sweep_tabular/outputs/*
case_studies/sweep_tabular/results/*
case_studies/mnist_resnet/data/*
case_studies/mnist_resnet/outputs/*
case_studies/mnist_resnet/results/*
outputs/*
docs/*
*DS_store
*.html
*_files*